:root {
    --black: #000000;
    --white: #ffffff;
    --orange: #ff5100;
    --yellow: #fefc00;
    --lime: #09ff00;
    --cyan: #00ffd5;
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}


header {
    color: var(--black);
    text-align: center;
}

header h1{
    font-family: 'Radio Canada', sans-serif;
    font-weight: bold;
    margin: 0%;
    padding-top: 3px;
}

header h3 {
    font-family: 'Radio Canada', sans-serif;
    font-weight: lighter;
    margin: 0%;
    padding-bottom: 3px;
}

header {
    animation: colourchange;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
@keyframes colourchange{
    from {background-color: var(--cyan);}
    25% {background-color: var(--lime);}
    50% {background-color: var(--yellow);}
    75% {background-color: var(--orange);}
    to {background-color: var(--cyan);}
}


.blurb {
    padding: 0% 20% 0 20%;
}

.blurb p{
    font-family: 'Radio Canada', sans-serif;
    font-weight: lighter;
}

.blurb h2 {
    font-family: 'Radio Canada', sans-serif;
    font-weight: bolder;
    text-align: center;
}


.blurb ul {
    list-style-position: inside;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Radio Canada', sans-serif;
    font-weight: lighter;
    text-align: center;
}


/*
▀█▀ ▄▀▄ ██▄ █   ██▀ 
 █  █▀█ █▄█ █▄▄ █▄▄ 
 */

.blurb table {
    margin-left: auto;
    margin-right: auto;
}

 .blurb table, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
  }

.blurb table th {
    font-weight: bolder;
    text-align: center;
    font-family: 'Radio Canada', sans-serif;
}

.blurb table td {
    font-weight: lighter;
    text-align: center;
    font-family: 'Radio Canada', sans-serif;
}

/*
█▀ ▄▀▄ ▄▀▄ ▀█▀ ██▀ █▀▄ 
█▀ ▀▄▀ ▀▄▀  █  █▄▄ █▀▄ 
*/

.bottom {
    padding-bottom: 2vh;
}

footer {
    text-align: center;
    font-weight: bold;
    font-family: 'Radio Canada', sans-serif;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;

    animation: colourchange;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}