:root {
    --black: #000000;
    --white: #ffffff;
    --orange: #ff5100;
    --yellow: #fefc00;
    --lime: #09ff00;
    --cyan: #00ffd5;
}

@keyframes colourchange{
    from {background-color: var(--cyan);}
    25% {background-color: var(--lime);}
    50% {background-color: var(--yellow);}
    75% {background-color: var(--orange);}
    to {background-color: var(--cyan);}
}



html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}


header {
    color: var(--black);
    text-align: center;
}

header h1{
    font-family: 'Radio Canada', sans-serif;
    font-weight: bold;
    margin: 0%;
    padding-top: 3px;
}

header h3 {
    font-family: 'Radio Canada', sans-serif;
    font-weight: lighter;
    margin: 0%;
    padding-bottom: 0px;
}

header {
    animation: colourchange;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }


.blurb {
    padding: 0% 20% 0 20%;
}

.blurb p{
    margin-top: 3px;
    font-family: 'Radio Canada', sans-serif;
    font-weight: lighter;
}

.blurb h2 {
    margin-bottom: 0;
    font-family: 'Radio Canada', sans-serif;
    font-weight: bolder;
}








/*
█▀ ▄▀▄ ▄▀▄ ▀█▀ ██▀ █▀▄ 
█▀ ▀▄▀ ▀▄▀  █  █▄▄ █▀▄ 
*/

.wrapper { /* strechs page if not enough content */
    min-height: calc(100vh - 23px);
}


footer {
    text-align: center;
    animation: colourchange;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

footer small a {
    color: var(--black);
    font-family: 'Radio Canada', sans-serif;
    text-decoration: none;
}