:root {
    --black: #000000;
    --white: #ffffff;
    --orange: #ff5100;
    --yellow: #fefc00;
    --lime: #09ff00;
    --cyan: #00ffd5;
}

@keyframes colourchange{
    from {background-color: var(--cyan);}
    25% {background-color: var(--lime);}
    50% {background-color: var(--yellow);}
    75% {background-color: var(--orange);}
    to {background-color: var(--cyan);}
}

@keyframes colourchangetext{
    from {color: var(--cyan);}
    25% {color: var(--lime);}
    50% {color: var(--yellow);}
    75% {color: var(--orange);}
    to {color: var(--cyan);}
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url(/inner_printer_edited.jpg);
}

div {
    padding: 0px;
    margin: 0px;
}

.intro {
    background-image: url(inner_printer_edited.jpg);

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    /*
    animation: colourchange;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    */
    height: 100vh;

    animation: colourchangetext 6s infinite alternate-reverse;
    text-align: center;
}

.intro h1 {
    font-size: 10vw;
    font-family: 'Radio Canada', sans-serif;
    font-weight: bold;
    padding-top: 3px;
    margin: 0px;
}

.intro small {
    font-size: 5vw;
    font-family: 'Radio Canada', sans-serif;
    font-weight: lighter;
    margin: 0%;
    padding-bottom: 3px;
}

.introwrap{ 
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    padding: 20px 20px 20px 20px;
}

/* page 1*/

.page_1 {

    display: flex;

    padding: 0px;
    margin: 0px;

    animation: colourchange;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

    height: 105vh;
}

.page_1 .page_1content {
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    font-size: larger;

    padding-top: 34px;
    padding-bottom: 34px;
    font-weight: 400;
}

.page_1subnote {
    font-size: 2vh;
}


.page_2 {
    height: 105vh;
    background-image: url(/projector_edited.jpg);
    background-size: 75vmax;
}

.page_2content {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    font-size: larger;

    padding-top: 34px;
    padding-bottom: 34px;
}

.page_2text {
    margin-top: 20vh;
    font-weight: 400;

    animation: colourchangetext;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    padding: 20px 20px 20px 20px;
}

.page_3button {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.page_3button button {
    justify-content: center;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    background-color: var(--black);

    color: white;
    text-align: center;
}

footer a {
    animation: colourchangetext;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.text_styling small{
    font-family: 'Radio Canada', sans-serif;
    font-weight: lighter;
}

.text_styling b {
    font-family: 'Radio Canada', sans-serif;
    font-weight: bold;
}

.paragraph_size {
    font-size: 5vmin;
}